streamlit
mediapipe
opencv-contrib-python
opencv-python
numpy
DateTime
Pillow
pandas
numpy
matplotlib
plotly
pybase64

glob2
torch
tensorflow
stqdm
fer
streamlit-aggrid
streamlit-drawable-canvas
py-feat
wget
#pathlib
#io
#base64
PyExifTool==0.5.4
pyexiv2==2.8.0
